settings {
    logfile = "/var/log/lsyncd/lsyncd.log",
    statusFile = "/var/log/lsyncd/lsyncd-status.log",
    statusInterval = 20
}

targetlist = {
    {% for target in LSYNCD_TARGET %}
        "{{ target }}",
    {% endfor %}
}

for _, server in ipairs(targetlist) do
    sync {
        default.rsync,
        source="/srv/http/",
        target="server",
        rsyncOps = "-lrtvupgoz --rsh='/usr/bin/ssh -p 22 -o StrictHostKeyChecking=no'"
    }
